- provide(:title, "About")
%h1 About
%p
  The 
  = link_to 'http://www.railstutorial.org/' do
    %em Ruby on Rails Tutorial
  is a
  = link_to 'book', 'http://www.railstutorial.org/book' 
  and
  = link_to 'screencast series', 'http://screencasts.railstutorial.org/'
  to teach web development with
  = link_to 'Ruby on Rails', 'http://rubyonrails.org/'
  This is the sample application for the tutorial.
