%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "sample app", :home, id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Home",   :home
        %li= link_to "Help",   :help
        %li= link_to "Log in", '#'